/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
  z-index: 99999;

  visibility: hidden;

  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;

  opacity: 0;
}
#spinner.show {
  visibility: visible;

  transition: opacity 0.5s ease-out, visibility 0s linear 0s;

  opacity: 1;
}
/*** Spinner End ***/
.back-to-top {
  position: fixed;
  z-index: 99;
  right: 30px;
  bottom: 30px;

  transition: 0.5s;
}
/*** Button Start ***/
.btn {
  transition: 0.5s;

  font-weight: 600;
}
.btn-square {
  width: 32px;
  height: 32px;
}
.btn-sm-square {
  width: 34px;
  height: 34px;
}
.btn-md-square {
  width: 44px;
  height: 44px;
}
.btn-lg-square {
  width: 56px;
  height: 56px;
}
.btn-xl-square {
  width: 66px;
  height: 66px;
}
.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  font-weight: normal;
}
.btn.btn-primary {
  color: var(--bs-white);
}
.btn.btn-primary:hover {
  border: 1px solid var(--bs-secondary);
  background: var(--bs-secondary);
}
.btn.btn-secondary {
  color: var(--bs-white);
}
.btn.btn-secondary:hover {
  border: 1px solid var(--bs-primary);
  background: var(--bs-primary);
}
/*** Topbar Start ***/
/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
  position: relative;

  margin-right: 25px;
  padding: 35px 0;

  transition: 0.5s;

  color: var(--bs-white);
  outline: none;

  font-size: 17px;
  font-weight: 400;
}
.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;

  color: var(--bs-dark);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--bs-primary);
}
.navbar-light .navbar-brand img {
  max-height: 60px;

  transition: 0.5s;
}
.sticky-top.navbar-light .navbar-brand img {
  max-height: 45px;
}
.navbar .dropdown-toggle::after {
  margin-left: 8px;

  content: '\f107';
  vertical-align: middle;

  border: none;

  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}
.dropdown .dropdown-menu a:hover {
  color: var(--bs-white);
  background: var(--bs-primary);
}
.navbar .nav-item:hover .dropdown-menu {
  visibility: visible;

  transition: 0.5s;
  transform: rotateX(0deg);

  opacity: 1;
  background: var(--bs-light);
}
@media (max-width: 991.98px) {
  .sticky-top.navbar-light {
    position: relative;

    background: var(--bs-white);
  }
  .navbar.navbar-expand-lg .navbar-toggler {
    padding: 10px 20px;

    color: var(--bs-primary);
    border: 1px solid var(--bs-primary);
  }
  .navbar-light .navbar-collapse {
    margin-top: 15px;

    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    margin-left: 0;
    padding: 10px 0;

    color: var(--bs-dark);
  }
  .navbar-light .navbar-brand img {
    max-height: 45px;
  }
}
@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    top: 100%;

    display: block;
    visibility: hidden;

    transition: 0.5s;
    transform: rotateX(-75deg);
    transform-origin: 0 0;

    opacity: 0;
    border: 0;
    border-radius: 10px;
  }
  .navbar-light {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

    width: 100%;

    border-style: dotted;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-left: 0;
  }
  .sticky-top.navbar-light {
    position: fixed;

    border: none;
    background: var(--bs-light);
  }
  .navbar-light .navbar-nav .nav-item::before {
    position: absolute;
    bottom: -1px;
    left: 50%;

    width: 0;
    height: 2px;

    content: '';
    transition: 0.5s;

    background: var(--bs-primary);
  }
  .sticky-top.navbar-light .navbar-nav .nav-item::before {
    bottom: 0;
  }
  .navbar-light .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 1px;
    left: 50%;

    content: '';
    transition: 0.5s;
    transform: translateX(-50%);

    opacity: 0;
    border: 10px solid;
    border-color: transparent transparent var(--bs-primary) transparent;
  }
  .navbar-light .navbar-nav .nav-item:hover::after,
  .navbar-light .navbar-nav .nav-item.active::after {
    bottom: 1px;

    opacity: 1;
  }
  .navbar-light .navbar-nav .nav-item:hover::before,
  .navbar-light .navbar-nav .nav-item.active::before {
    left: 1px;

    width: calc(100% - 2px);
  }
  .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }
}
/*** Carousel Hero Header Start ***/
.carousel-header {
  position: relative;

  overflow: hidden;
}
.carousel-indicators {
  /* display: none; */
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 0;
}
.carousel .carousel-control-prev .carousel-control-prev-icon,
.carousel .carousel-control-next .carousel-control-next-icon {
  position: absolute;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px 25px;

  transition: 0.5s;
  transform: translateY(-50%);

  background: var(--bs-primary);
}
.carousel .carousel-control-prev .carousel-control-prev-icon {
  left: 0;

  border-left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0;
}
.carousel .carousel-control-next .carousel-control-next-icon {
  right: 0;

  border-right: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 50px;
}
.carousel .carousel-control-prev .carousel-control-prev-icon:hover,
.carousel .carousel-control-next .carousel-control-next-icon:hover {
  background: var(--bs-secondary);
}
.carousel .carousel-inner .carousel-item {
  position: relative;
}
.carousel .carousel-inner .carousel-item .carousel-caption-1 {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: end;

  width: 100%;
  height: 100%;
  padding-top: 100px;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
}
.carousel-caption-1-content {
  padding-right: 100px;

  text-align: end;
}
.carousel-caption-1-content .carousel-caption-1-content-btn {
  display: flex;
  justify-content: end;
}
.carousel .carousel-inner .carousel-item .carousel-caption-2 {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-top: 100px;

  text-align: center;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
}
.carousel-caption-2-content {
  padding-left: 100px;

  text-align: start;
}
.carousel-caption-2-content .carousel-caption-2-content-btn {
  display: flex;
  justify-content: start;
}
@media (max-width: 992px) {
  .carousel .carousel-inner .carousel-item {
    height: 700px;
    margin-top: -100px;
  }
  .carousel .carousel-inner .carousel-item img {
    height: 700px;

    object-fit: cover;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption-1 {
    justify-content: center;

    max-width: 100% !important;
  }
  .carousel-caption-1-content {
    padding: 0 20px !important;

    text-align: center !important;
  }
  .carousel-caption-1-content .carousel-caption-1-content-btn {
    justify-content: center;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption-2 {
    justify-content: center;

    max-width: 100% !important;
  }
  .carousel-caption-2-content {
    padding: 0 20px !important;

    text-align: center !important;
  }
  .carousel-caption-2-content .carousel-caption-2-content-btn {
    justify-content: center;
  }
  .carousel .carousel-control-prev .carousel-control-prev-icon,
  .carousel .carousel-control-next .carousel-control-next-icon {
    display: none;
  }
}
.modal .modal-header {
  height: 100px;
}
#searchModal .modal-content {
  background: rgba(255, 255, 255, 0.6);
}
/*** Carousel Hero Header End ***/
/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
  position: relative;

  overflow: hidden;

  padding: 120px 0 60px 0;

  transition: 0.5s;

  background: linear-gradient(rgba(0, 20, 66, 0.7), rgba(0, 20, 66, 0.7)), url(../img/breadcrumb.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.bg-breadcrumb .breadcrumb {
  position: relative;
}
.bg-breadcrumb .breadcrumb .breadcrumb-item a {
  color: var(--bs-white);
}
@media (max-width: 992px) {
  .bg-breadcrumb {
    padding: 60px 0 60px 0;
  }
}
/*** Single Page Hero Header End ***/
/*** Features Start ***/
.feature .feature-item {
  display: flex;
  align-items: center;
  flex-direction: column;

  transition: 0.5s;
  text-align: center;

  border: 1px solid rgba(196, 211, 211, 0.9);
  border-radius: 10px;
  background: var(--bs-white);
}
.feature .feature-item:hover {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}
.feature .feature-item .feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  border-radius: 50px;
  background: var(--bs-primary);
}
.feature .feature-item .feature-icon i {
  transition: 0.5s;
}
.feature .feature-item:hover .feature-icon i {
  transform: rotate(360deg);
}
.feature .feature-item a.btn {
  transition: 0.5s;
}
/*** Features End ***/
/*** About Start ***/
.about .about-img {
  position: relative;

  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
}
.about .about-img::before {
  position: absolute;
  top: -30px;
  right: 0;

  width: 100%;
  height: 10px;

  content: '';

  border-radius: 10px;
  background: var(--bs-secondary);
}
.about .about-img::after {
  position: absolute;
  bottom: 30px;
  left: -30px;

  width: 10px;
  height: 100%;

  content: '';

  border-radius: 10px;
  background: var(--bs-secondary);
}
.about .about-img .about-exp {
  position: absolute;
  top: 0;
  left: 0;

  margin-top: -30px;
  margin-left: -30px;
  padding: 25px;

  color: var(--bs-white);
  border: 1px solid var(--bs-secondary);
  border-radius: 10px;
  background: var(--bs-secondary);

  font-size: 30px;
  font-weight: bold;
}
/*** About End ***/
/*** Service Start ***/
.service-item {
  position: relative;

  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}
.service-item::after {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;

  width: 0;
  height: 0;

  content: '';
  transition: 0.5s;

  border-radius: 10px;
  background: var(--bs-primary);
}
.service-item:hover::after {
  width: 100%;
  height: 100%;
}
.service-item:hover .service-content,
.service-item:hover .service-btn {
  position: relative;
  z-index: 2;
}
.service-item .service-content a,
.service-item .service-content p {
  transition: 0.5s;
}
.service-item:hover .service-content a:hover {
  color: var(--bs-secondary);
}
.service-item:hover .service-content p {
  color: var(--bs-white);
}
.service-item .service-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  transition: 0.5s;

  border-radius: 50px;
  background: var(--bs-primary);
}
.service-item .service-btn i {
  transition: 0.5s;
}
.service-item:hover .service-btn {
  background: var(--bs-white);
}
.service-item:hover .service-btn i {
  transform: rotate(360deg);

  color: var(--bs-primary) !important;
}
/*** Service End ***/
/*** Counter Start ***/
.counter {
  position: relative;

  overflow: hidden;

  background: linear-gradient(rgba(25, 64, 154, 0.9), #19409a), url(../img/fact-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.counter .counter-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}
.counter .counter-item .counter-item-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  border-radius: 50px;
  background: var(--bs-primary);
}
/*** Counter End ***/
/*** Products Start ***/
.product .product-item {
  transition: 0.5s;

  border: 1px solid rgba(196, 211, 211, 0.9);
  border-radius: 10px;
}
.product .product-item .product-img {
  position: relative;

  overflow: hidden;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product .product-item:hover {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}
.product .product-item img {
  transition: 0.5s;
}
.product .product-item:hover img {
  transform: scale(1.2);
}
/*** Products End ***/
/*** Blog Start ***/
.blog .blog-item {
  transition: 0.5s;

  border-radius: 10px;
  background: var(--bs-light);
}
.blog .blog-item:hover {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}
.blog .blog-item .blog-img {
  position: relative;

  overflow: hidden;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog .blog-item .blog-img::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: '';
  transition: 0.5s;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog .blog-item .blog-img img {
  transition: 0.5s;
}
.blog .blog-item:hover .blog-img img {
  transform: scale(1.2);
}
.blog .blog-item:hover .blog-img::after {
  background: rgba(0, 209, 249, 0.2);
}
.blog .blog-item .blog-date {
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 25px;

  color: var(--bs-white);
  border-radius: 10px;
  background: var(--bs-primary);
}
.blog .blog-item .blog-content a {
  transition: 0.5s;
}
.blog .blog-item:hover .blog-content a:hover {
  color: var(--bs-primary) !important;
}
/*** Blog End ***/
/*** Team Start ***/
.team .team-item {
  position: relative;

  overflow: hidden;

  border: 1px solid var(--bs-secondary);
  border-radius: 10px;
  background: var(--bs-white);
}
.team .team-item .team-inner {
  transition: 0.5s;
}
.team .team-item:hover .team-inner {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}
.team .team-item .team-inner .team-img {
  position: relative;
  z-index: 2;
}
.team .team-item .team-inner .team-img::after {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;

  width: 100%;
  height: 0;

  content: '';
  transition: 0.5s;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(0, 209, 249, 0.2);
}
.team .team-item:hover .team-inner .team-img::after {
  height: 100%;
}
.team .team-item .team-inner .team-img .team-share {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;

  transition: 0.5s;
}
.team .team-item:hover .team-inner .team-img .team-share {
  opacity: 0;
}
.team .team-item .team-inner .team-img .team-icon {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: -100%;

  display: inline-flex;

  transition: 0.5s;

  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background: var(--bs-primary);
}
.team .team-item:hover .team-inner .team-img .team-icon {
  left: -25px;
}
/*** Team End ***/
/*** testimonial Start ***/
.testimonial .owl-nav .owl-prev {
  position: absolute;
  top: -58px;
  right: 0;

  padding: 5px 30px;

  transition: 0.5s;

  color: var(--bs-white);
  border-radius: 30px;
  background: var(--bs-primary);
}
.testimonial .owl-nav .owl-prev:hover {
  color: var(--bs-white);
  background: var(--bs-secondary);
}
.testimonial .owl-nav .owl-next {
  position: absolute;
  top: -58px;
  right: 88px;

  padding: 5px 30px;

  transition: 0.5s;

  color: var(--bs-white);
  border-radius: 30px;
  background: var(--bs-primary);
}
.testimonial .owl-nav .owl-next:hover {
  color: var(--bs-white);
  background: var(--bs-secondary);
}
.testimonial-carousel .owl-dots {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-left: 20px;
}
.testimonial-carousel .owl-dots .owl-dot {
  width: 20px;
  height: 20px;
  margin-right: 15px;

  transition: 0.5s;

  border: 1px solid var(--bs-secondary);
  border-radius: 20px;
  background: var(--bs-primary);
}
.testimonial-carousel .owl-dots .owl-dot.active {
  width: 20px;
  height: 20px;

  transition: 0.5s;

  border: 1px solid var(--bs-primary);
  border-radius: 20px;
  background: var(--bs-secondary) !important;
}
.testimonial-carousel .owl-dots .owl-dot span {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50%;
  margin-left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}
.testimonial-carousel .owl-dots .owl-dot span::after {
  position: absolute;
  top: 50%;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 8px;
  height: 8px;

  content: '';
  transform: translateY(-50%);
  text-align: center;

  border-radius: 8px;
  background: var(--bs-white);
}
@media (max-width: 992px) {
  .owl-carousel.testimonial-carousel {
    padding-top: 30px;
  }
  .testimonial .owl-nav .owl-prev,
  .testimonial .owl-nav .owl-next {
    top: -30px;
  }
}
/*** testimonial End ***/
/*** Footer Start ***/
.footer {
  background: var(--bs-dark);
}
.footer .footer-item a {
  transition: 0.5s;

  color: var(--bs-body);

  line-height: 35px;
}
.footer .footer-item p {
  line-height: 35px;
}
.footer .footer-item a:hover {
  letter-spacing: 1px;

  color: var(--bs-primary);
}
.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
  transition: 0.5s;
}
.footer .footer-item .footer-btn a:hover {
  background: var(--bs-white);
}
.footer .footer-item .footer-btn a:hover i {
  color: var(--bs-primary) !important;
}
/*** Footer End ***/
/*** copyright Start ***/
.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  background: var(--bs-dark);
}
/*** copyright end ***/
